node_modules
.next
out
build
dist
*.log
.DS_Store
.env
.env.local
.env.*.local
uploads
static/uploads
coverage
.turbo
tsconfig.tsbuildinfo

# STORA APK filer (överskrider GitHub 100MB gräns!)
public/downloads/*.apk
public/downloads/*.aab
public/downloads/*.ipa
